<!-- <div
  class="py-5 d-flex flex-column flex-xxl-row align-items-center pb-3 mb-4 sticky-top bg-white shadow "
>
  <a
    href="#"
    class="d-flex ms-5  align-items-center link-body-emphasis text-decoration-none"
  >
    <img src="assets/kramviLogo.svg" alt="playstore" width="40" />
  </a>

  <nav class="">
    <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="#"
      >Precios</a
    >

    <a
      target="_blank"
      class="me-5 py-2 link-body-emphasis text-decoration-none"
      href="whatsapp://send?phone=+51977902392&text=Hola quiero contratar Kramvi"
    >
      Consulta Comprobante
    </a>
    <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="#"
      >Ingresar</a
    >

    <button type="button" class="btn btn-outline-danger me-3">
      Contacta a ventas
    </button>

    <button class="me-5 btn btn-danger">Prueba la demo</button>

  </nav>
</div> -->

<nav
  class="navbar navbar-expand-sm navbar-white shadow-sm sticky-top bg-white"
  aria-label="Third navbar example"
>
  <div class="container-fluid">
    <a
    routerLink="/"
      class="d-flex ms-2 ms-md-5 justify-content-center align-items-center link-body-emphasis text-decoration-none"
    >
      <img src="assets/kramviLogo.svg" alt="playstore" width="36" />
      <h1 class="ms-3 fs-3 m-0">
        Kramvi <span class="d-xl-inline d-none">: Facturacion y Venta </span>
      </h1>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse text-center justify-content-end"
      id="navbarsExample03"
    >
      <div
        class="d-inline-flex justify-content-center align-items-center mt-2 mt-md-0 ms-md-auto"
      >
        <ul class="navbar-nav justify-content-center me-auto mb-2 mb-sm-0">
          <li class="nav-item my-3 fw-bolder text-center">
            <a
              class="me-5 py-2 link-body-emphasis text-decoration-none"
              routerLink="/prices"
              >Precios</a
            >
          </li>
          <li class="nav-item my-3 fw-bolder text-center">
            <a
              target="_blank"
              class="me-5 py-2 link-body-emphasis text-decoration-none"
              href="https://consulta.kramvi.com/"
            >
              Consulta Comprobante
            </a>
          </li>
          <li class="nav-item my-3 fw-bolder text-center">
            <a
              target="_blank"
              class="me-5 py-2 link-body-emphasis text-decoration-none"
              href="https://app.kramvi.com/login"
              >Ingresar</a
            >
          </li>
        </ul>
        <a
          target="_blank"
          href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
          type="button"
          class="btn d-none d-lg-flex btn-outline-danger me-3"
        >
          Contacta a ventas
        </a>

        <a
          target="_blank"
          href="https://demo.kramvi.com/"
          class="me-5 btn btn-danger d-none d-lg-flex"
        >
          Prueba la demo
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->
