<section class="container my-5">
  <h1 class="text-center display-4 fw-bold lh-1">
    Miles de emprendedores<br /><span class="text-danger">satisfechos</span>
  </h1>
  <p class="my-3 fs-5 fw-bolder text-center">
    Miles de clientes confian en nosotros
  </p>

  <article class="row mx-0 justify-content-center">
    <div class="col-3">
      <img
        class="img-fluid"
        src="https://susii.com/_nuxt/img/cliente-19.69939c2.png"
        alt="client"
      />
    </div>
    <div class="col-3">
      <img
        class="img-fluid"
        src="https://susii.com/_nuxt/img/cliente-23.e001d38.png"
        alt="client"
      />
    </div>
    <div class="col-3">
      <img
        class="img-fluid"
        src="https://susii.com/_nuxt/img/cliente-5.1438d88.png"
        alt="client"
      />
    </div>
    <div class="col-3">
      <img
        class="img-fluid"
        src="https://susii.com/_nuxt/img/cliente-9.cd6de9e.png"
        alt="client"
      />
    </div>
  </article>
</section>
