<section class="mt-5 container">
  <div class="row h-100 justify-content-center text-center align-items-center">
    <h1 class="display-4 fw-bold lh-1">
      Facturación electrónica <br />
      para <span class="text-danger">emprendedores</span>
    </h1>
    <p class="lead mb-4">
      Miles de negocios en todo el Perú 🇵🇪 confían en nosotros
    </p>
    <div class="mb-5 col-12 text-center justify-content-center row">
      <a
        target="_blank"
        href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
        type="button"
        class="col-5 col-md-2 me-3 px-2 rounded-4 fs-5 py-3 btn btn-outline-danger"
      >
        Contacta a ventas
      </a>
      <a
        target="_blank"
        href="https://demo.kramvi.com/"
        type="button"
        class="col-5 d-flex  col-md-2 me-3 px-2 align-items-center justify-content-center  rounded-4 fs-5 py-3 btn btn-danger"
      >
        Prueba la demo
      </a>
    </div>

    <img
      class="rounded-5 col-11 justify-content-center mx-0 img-fluid mb-5"
      src="https://susii.com/_nuxt/img/sistema.f86a3f9.png"
      alt="hero-image"
    />
  </div>
</section>

<!-- <div class="mt-5">
  <div class="">
    <div class="d-flex flex-column text-center justify-content-center pb-3">
      <h1 class="display-4 mb-3 fw-3">
        Facturación electrónica para <br />
        <span class="text-danger">emprendedores</span>
      </h1>
      <p class="lead text-muted">
        Miles de negocios en todo el Perú 🇵🇪 confían en nosotros
      </p>
      <div class="d-flexshowcase text-center gap-3">
        <button class="m-2 btn btn-danger">
          View all pages <i class="fas fa-arrow-right"></i>
        </button>
        <button class="m-2 btn btn-outline-danger">Documentation</button>
      </div>
      <div class="text-center col-md-6 pb-5 d-none d-md-block">
        <img
          src="https://susii.com/_nuxt/img/sistema.f86a3f9.png"
          class="img-fluid rounded-start-pill"
          alt=""
        />
      </div>
    </div>
  </div>
</div> -->
