<div class="container">
  <h1 class="text-center mb-5 fw-bolder">¡Empieza ahora!</h1>
  <div class="row justify-content-around">
    <a target="_blank" class="col-md-5 col-10 text-decoration-none text-black  rounded-3 mb-3 p-5" style="background-color: #f7f7f8">
      <h4 class="fw-bolder">Contáctanos</h4>
      <p class="">Uno de nuestros asesores estará gustoso de guiarte.</p>
      <a class="fw-bolder fs-5 text-decoration-none text-danger fw-bold" href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
        >Contacta a ventas
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m21 12l-5-5m5 5l-5 5m5-5H3"
            />
          </svg>
        </span>
      </a>
    </a>
    <a target="_blank" class="col-md-5 col-10 rounded-3 p-5 mb-3 text-decoration-none text-black" style="background-color: #f7f7f8">
      <h4 class="fw-bolder">Prueba la demo</h4>
      <p class="">Descubre cómo KRAMVI puede mejorar tu negocio.</p>
      <a class="fw-bolder fs-5 text-decoration-none text-danger fw-bold" target="_blank" href="https://demo.kramvi.com/" 
        >Ingresar
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m21 12l-5-5m5 5l-5 5m5-5H3"
            />
          </svg>
        </span>
      </a>
    </a>
  </div>
</div>




