<section id="prices" class="mx-0 mb-5 mt-5" style="background-color: #e7e7e7">
  <h1 class="text-center fw-bolder display-4 mb-5 p-5 lh-1">
    Planes que te ayudan a <span class="text-danger">crecer</span>
  </h1>
  <div class="row mx-0 align-items-center justify-content-center">
    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Emprendedor</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/.</span>
          <span class="fw-bolder fs-1">49</span>
        </span>
        <span>mensual</span>
      </div>
      <div>
        <span> S/. 390</span>
        <span> anual</span>
      </div>
      <p class="text-muted">* Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <p>Certificado digital incluido</p>
      <hr />
      <h5 class="fw-bold">Ilimitado</h5>
      <p>Ventas y productos</p>
      <p>Clientess / proveedores</p>
      <hr />
      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <h5 class="fw-bold">1 punto de venta</h5>
      <p>Para empresas creadas hace menos de un año.</p>

      @if (isMobile()) {
      <a
        target="_blank"
        href="whatsapp://send?phone=+51977902392&text=Hola quiero contratar Kramvi"
        class="btn btn-danger px-5 py-3"
        >Contactanos</a
      >
      } @else {
      <a
        target="_blank"
        href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
        class="btn btn-danger px-5 py-3"
        >Contactanos</a
      >
      }
    </article>

    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Empresas</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/.</span>
          <span class="fw-bolder fs-1">99</span>
        </span>
        <span>mensual</span>
      </div>
      <div>
        <span>S/. 390 </span>
        <span> anual</span>
      </div>
      <p class="text-muted">* Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <p>Certificado digital incluido</p>
      <hr />
      <h5 class="fw-bold">Ilimitado</h5>
      <p>Ventas y productos</p>
      <p>Clientess / proveedores</p>
      <hr />
      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <h5 class="fw-bold">1 punto de venta</h5>
      <p>Para empresas creadas hace menos de un año.</p>
      <button class="btn btn-danger px-5 py-3">Prueba la demo</button>
    </article>

    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Ecommerce</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/.</span>
          <span class="fw-bolder fs-1">149</span>
        </span>
        <span>mensual</span>
      </div>
      <div>
        <span>S/. 390 </span>
        <span> anual</span>
      </div>
      <p class="text-muted">* Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <p>Certificado digital incluido</p>
      <hr />
      <h5 class="fw-bold">Ilimitado</h5>
      <p>Ventas y productos</p>
      <p>Clientess / proveedores</p>
      <hr />
      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <h5 class="fw-bold">1 punto de venta</h5>
      <p>Para empresas creadas hace menos de un año.</p>
      <button class="btn btn-danger px-5 py-3">Prueba la demo</button>
    </article>
  </div>
</section>
