<section id="prices" class="mx-0 mb-5s" style="background-color: #e7e7e7">
  <h1 class="text-center fw-bolder display-4 mb-5 p-5 lh-1">
    Planes que te ayudan a <span class="text-danger">crecer</span>
  </h1>
  <div class="row mx-0 align-items-center justify-content-center">
    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Emprendedor</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/</span>
          <span class="fw-bolder fs-1">
            {{
              priceStandar * quantityBasic -
                1 -
                discountBasic * (quantityBasic - 1)
            }}
          </span>
        </span>
        <span>mensual</span>
      </div>
      <p class="text-muted">* No Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Vende hasta S/ 30 mil mensuales</p>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <hr />

      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <div class="form-floating mb-2">
        <select
          class="form-select"
          [(ngModel)]="quantityBasic"
          aria-label="Floating label select example"
        >
          <option value="1">1 sucursal</option>
          <option value="2">2 sucursales</option>
          <option value="3">3 sucursales</option>
          <option value="4">4 sucursales</option>
          <option value="5">5 sucursales</option>
        </select>
        <label for="floatingSelect">Sucursales</label>
      </div>

      @if (isMobile()) {
        <a
        target="_blank"
          href="whatsapp://send?phone=+51977902392&text=Hola quiero contratar Kramvi"
          class="btn btn-primary w-100 btn-danger btn-lg"
        >
          Contactanos
        </a>
        } @else {
        <a
          target="_blank"
          href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
          class="btn btn-primary w-100 btn-danger btn-lg"
        >
          Contáctanos
        </a>
  
        }
    </article>

    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Empresas</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/</span>
          <span class="fw-bolder fs-1">
            {{
              priceEnterprice * quantityPro - 1 - discount * (quantityPro - 1)
            }}
          </span>
        </span>
        <span>mensual</span>
      </div>
      <p class="text-muted">* No Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Vende sin limites</p>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <hr />

      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <div class="form-floating mb-2">
        <select
          class="form-select"
          [(ngModel)]="quantityPro"
          aria-label="Floating label select example"
        >
          <option value="1">1 sucursal</option>
          <option value="2">2 sucursales</option>
          <option value="3">3 sucursales</option>
          <option value="4">4 sucursales</option>
          <option value="5">5 sucursales</option>
        </select>
        <label for="floatingSelect">Sucursales</label>
      </div>

      @if (isMobile()) {
        <a
        target="_blank"
          href="whatsapp://send?phone=+51977902392&text=Hola quiero contratar Kramvi"
          class="btn btn-primary w-100 btn-danger btn-lg"
        >
          Contactanos
        </a>
        } @else {
        <a
          target="_blank"
          href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
          class="btn btn-primary w-100 btn-danger btn-lg"
        >
          Contáctanos
        </a>
  
        }
    </article>

    <article
      class="col-10 p-5 bg-light rounded-4 ms-0 ms-md-5 mb-5 col-md-3 text-center"
    >
      <h4 class="fw-bold">Plan Ecommerce</h4>
      <p>Comprobantes ilimitados</p>
      <div>
        <span>
          <span class="fs-4">S/</span>
          <span class="fw-bolder fs-1">

            {{
              priceBusiness * quantityEcommerce -
                1 -
                discountBusiness * (quantityEcommerce - 1)
            }}
          </span>
        </span>
        <span>mensual</span>
      </div>
      <p class="text-muted">* No Incluye IGV</p>
      <hr />
      <h5 class="fw-bold">Facturación electrónica</h5>
      <p>Vende sin limites</p>
      <p>Facturas y boletas</p>
      <p>Notas de crédito</p>
      <p>Guias de remision electronicas</p>
      <hr />

      <h5 class="fw-bold">Compras, Stock, Kardex, Almacén</h5>
      <hr />
      <div class="form-floating mb-2">
        <select
          class="form-select"
          [(ngModel)]="quantityEcommerce"
          aria-label="Floating label select example"
        >
          <option value="1">1 sucursal</option>
          <option value="2">2 sucursales</option>
          <option value="3">3 sucursales</option>
          <option value="4">4 sucursales</option>
          <option value="5">5 sucursales</option>
        </select>
        <label for="floatingSelect">Sucursales</label>
      </div>

      @if (isMobile()) {
      <a
      target="_blank"
        href="whatsapp://send?phone=+51977902392&text=Hola quiero contratar Kramvi"
        class="btn btn-primary w-100 btn-danger btn-lg"
      >
        Contactanos
      </a>
      } @else {
      <a
        target="_blank"
        href="https://web.whatsapp.com/send?phone=51977902392&text=Hola quiero contratar Kramvi"
        class="btn btn-primary w-100 btn-danger btn-lg"
      >
        Contáctanos
      </a>

      }
    </article>
  </div>
</section>
